{% extends 'base.html.twig' %}
{% block title %}
	Register
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{path('security_register')}}" class="active">Register</a></li>
{% endblock %}
{% block body %}
	{{form_start(form)}}
	{{form_widget(form)}}
	<button action='submit' class='btn btn-primary'>Register</button>
	{{form_end(form)}}
{% endblock %}
